.wrapper {
	display: grid;
	grid-template-columns: repeat(3, 10rem);
	grid-gap: 1rem;
	font-size: 500%;
	font-weight: 600;
}

.text{ 
	text-align: center;
}

.wrapper .item:nth-child(1) {
	background-color: blue;
}
.wrapper .item:nth-child(2) {
	background-color: red;
}
.wrapper .item:nth-child(3) {
	background-color: green;
}
.wrapper .item:nth-child(4) {
	background-color: yellow;
}
.wrapper .item:nth-child(5) {
	background-color: brown;
	grid-column-start: 2;
	grid-column-end: 4;
}
.wrapper .item:nth-child(6) {
	background-color: grey;
}
